.footer {
  background: #CC0033;
  padding-top: 70px ;
  padding-bottom: 20px;

}
.footer a {
  color: black;
  font-size: 30px;
  padding: 10px;
  transition: all .5s ease;
}

.footer a:hover {
  color: white;
}

.footer-copyright text-center py-3{
    color: white;
}

#aboutmeimg{
    width: 400px
}

body{
    font-family: 'Comfortaa', cursive;
}

a{
    color: red;
}

#hey{
    color: black;
}


a:hover{
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 991px){
    header{
        text-align: center;
    }
    
    p{
        text-align: center;
    }
    img {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

}